body {
    background-image: url(../img/Dark-Vector-Background.jpg);
    margin-bottom: 500px;
}

.logo-machine {
    height: 80px;
}

.logo-machine-2 {
    height: 80px;
}

.logo-tattoo {
    height: 300px;
}

.instagram{
    width: 50px;
    height: 50px;
    color: rgb(250, 248, 248);
    border-radius: 50px;
    text-align: center;
    font-size: 30px; 
    margin-top: 8px; 
  }

  .WhatsApp{    
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 8px;
}

#cta {
    height: 300px;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/tatto-1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
  }

  #cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
  }

  .btn {
    background-color: purple;
    color: white;
    text-transform: uppercase;
    width: 50%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
  }

  .btn:hover {
    opacity: 1;
  }